/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-main: #d2bc5f;
  --clr-white: #fff;
  --clr-black: #000;

  --ff-montserrat: "Montserrat", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-merriweather: "Merriweather", serif;

  --fs-xs: clamp(1.15rem, 1.0134rem + 0.6829vw, 1.5rem);
  --fs-md: clamp(1.3125rem, 1.1797rem + 0.625vw, 1.625rem);
  --fs-lg: clamp(1.625rem, 1.4055rem + 1.0976vw, 2.1875rem);
  --fs-xlg: clamp(2.1875rem, 1.5234rem + 3.125vw, 3.75rem);
  --fs-xxlg: clamp(3rem, 2.2195rem + 3.9024vw, 5rem);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  font-family: var(--ff-roboto);
  line-height: 1.5;
  color: white;
  background-image: url(../public/images/bg-preto.jpg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-merriweather);
  line-height: 1.2;
  color: var(--clr-main);
}

h3 {
  padding-bottom: 4rem;
  font-size: var(--fs-xxlg);
  text-align: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

.section-center {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}
