// FLOATING
.franquia {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  display: none; // only shows on desktop
  max-width: 12rem;
  height: 3rem;
}

// SECTION-CARDS
.section-cards {
  padding: 5.5vh 0 11vh 0;
}

// SECTION-MOUSE
// .section-mouse {
//   position: relative;
//   display: grid;
//   place-content: center;
//   min-height: 100vh;
//   overflow: hidden;
//   text-align: center;
//   background-color: var(--clr-black);

//   .title {
//     font-size: var(--fs-xxlg);
//     color: white;
//   }

//   p {
//     position: relative;
//     z-index: 10;
//     font-size: var(--fs-md);
//     color: black;
//   }
// }

// SECTION DRONE
.section-banner {
  position: relative;
  padding-bottom: 2em;
  background-image: url(../public/images/2.webp);
  background-attachment: fixed;
  background-position: center;
  border-block: 0.125rem solid var(--clr-main);

  .section-center {
    display: flex;
    flex-direction: column;
  }
  // drone
  img {
    width: 100%;
    max-width: 500px;
    margin-top: -3rem; //fallback
  }

  .drone {
    animation: mover 1s alternate infinite;
  }

  p {
    margin-top: -1rem;
    font-size: var(--fs-md);
    font-weight: bold;
    text-align: left;
  }

  .section-center {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }
}

.section-banner::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--clr-black);
  opacity: 0.8;
}

// SECTION-SERVICES
.section-services {
  position: relative;
  padding: 11vh 0;

  .btn {
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .btn:nth-last-child(1) {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }

  .cards__card {
    grid-template-rows: 16rem 1fr;
  }

  .cards__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }

  .title {
    font-size: var(--fs-md);
  }

  p {
    font-size: var(--fs-sm);
    text-align: left;
  }
}

// SECTION-BANNER--WHATSAPP
.section-banner--whatsapp {
  padding-bottom: 0.25rem;

  img {
    max-width: 118px;
    max-height: 201px;
  }

  p {
    margin-top: 1rem;
    text-align: center;
  }
}

.section-whatsapp {
  padding: 11vh 0 5.5vh 0;

  h2 {
    padding-bottom: 2rem;
  }

  img {
    padding-bottom: 2rem;
    margin: 0 auto;
  }

  blockquote {
    max-width: 65ch;
    margin: 0 auto;
  }

  p {
    margin-top: 2rem;
    font-size: 1.15rem;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: -0.0027777778rem;
  }

  p::first-letter {
    margin-left: 2rem;
  }

  figcaption {
    padding-top: 1rem;
    text-align: right;
  }
}

// SECTION-VIDEOS
.section-videos {
  padding: 11vh 0;

  .videos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .btn {
    margin: 0 auto;
    margin-top: 4rem;
  }
}

// SECTION-TESTIMONIALS
.section-testimonials {
  padding-bottom: 11vh;

  h3 {
    font-family: "Crete Round", serif;
  }

  .btn {
    margin: 0 auto;
    margin-top: 2rem;
  }
}

.whatsapp {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  cursor: pointer;
  background: #4ab357;
  border-radius: 50%;

  a {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.whatsapp:hover {
  transform: scale(1.02);
}

// FOOTER
.footer {
  p {
    display: flex;
    justify-content: center;
  }
}

// ===== MEDIA QUERIES ======

@media screen and (min-width: 37.5rem) {
  .section-videos {
    .videos {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 48rem) {
  .franquia {
    display: flex;
  }

  .section-banner {
    padding: 0;

    .section-center {
      flex-direction: row-reverse;
      align-items: center;
    }

    p {
      margin: 0;
    }
  }

  .section-banner--whatsapp {
    .section-center {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .section-services {
    .section-center {
      width: 90%;
      max-width: 1600px;
    }
  }

  .whatsapp {
    right: 2rem;
    bottom: 6rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .section-services {
    h3 {
      padding-bottom: 0;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(4, 25%);
      gap: 0;
      justify-items: center;
    }

    .cards__card {
      grid-template-rows: 12rem 1fr;
      padding: 0 1rem;
      padding-top: 2rem;
    }
  }
}
