// SECTION HERO
.section-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .section-center {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
  }

  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

  h1 {
    font-size: var(--fs-xlg);
  }

  p {
    font-size: var(--fs-md);
    text-align: center;
  }
}

// SECTION-CARDS
.section-cards {
  padding: 5.5vh 0 11vh 0;
}

// SECTION-MOUSE
.section-mouse {
  position: relative;
  display: grid;
  place-content: center;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  background-color: var(--clr-black);

  .title {
    font-size: var(--fs-xxlg);
    color: white;
  }

  p {
    position: relative;
    z-index: 10;
    font-size: var(--fs-md);
    color: black;
  }
}

// SECTION DRONE
.section-banner {
  position: relative;
  padding-bottom: 2em;
  background-image: url(../public/images/2.png);
  background-attachment: fixed;
  background-position: center;
  border-block: 0.125rem solid var(--clr-main);

  .section-center {
    display: flex;
    flex-direction: column;
  }
  // drone
  img {
    width: 100%;
    max-width: 500px;
    margin-top: -3rem; //fallback
  }

  .drone {
    animation: mover 1s alternate infinite;
  }

  p {
    margin-top: -1rem;
    font-size: var(--fs-md);
    font-weight: bold;
    text-align: left;
  }

  .section-center {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }
}

.section-banner::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--clr-black);
  opacity: 0.8;
}

// SECTION-SERVICES
.section-services {
  position: relative;
  padding: 11vh 0;

  h3 {
    padding-bottom: 4rem;
    font-size: var(--fs-xxlg);
    text-align: center;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }

  .cards__card {
    grid-template-rows: 16rem 1fr;
  }

  .cards__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }

  .title {
    font-size: var(--fs-md);
  }

  p {
    font-size: var(--fs-sm);
  }
}

// SECTION-BANNER--WHATSAPP
.section-banner--whatsapp {
  padding-bottom: 0.25rem;

  img {
    max-width: 100px;
    max-height: 200px;
  }

  p {
    margin-top: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 48rem) {
  .section-banner {
    padding: 0;

    .section-center {
      flex-direction: row-reverse;
      align-items: center;
    }

    p {
      margin: 0;
    }
  }

  .section-banner--whatsapp {
    .section-center {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .section-services {
    .section-center {
      width: 90%;
      max-width: 1600px;
    }
  }
}

@media screen and (min-width: 62.5rem) {
  .section-services {
    h3 {
      padding-bottom: 0;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(4, 25%);
      gap: 0;
      justify-items: center;
    }

    .cards__card {
      grid-template-rows: 12rem 1fr;
      padding: 0 1rem;
      padding-top: 2rem;
    }
  }
}
